.estado-sello {
  width: 80px; /* Ajusta el tamaño para mayor visibilidad */
  position: absolute;
  top: 10px; /* Desplaza hacia abajo desde el borde superior */
  right: 10px; /* Desplaza hacia la izquierda desde el borde derecho */
  opacity: 0.9; /* Ajusta la opacidad para mejor integración */
}
.container {
  max-width: 1500px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}
.card {
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #005fb1;
  font-weight: bold;
}

.btn-primary {
  background-color: #005fb1;
  border: none;
}

.btn-primary:hover {
  background-color: #003f7f;
}

h2 {
  color: #333;
  font-weight: bold;
}
