<div style="display: flex">
<button routerLink="/gestion_eventos" class="styled-back-button">
  <i class="fa-solid fa-arrow-left"></i>
</button>
<div class="container">
  <h2>Lista de Participantes de {{ eventoNombre || eventoId }}</h2>
  <br>
  <div class="search-bar">
    <input type="text" placeholder="Buscar"/>
    <button class="add-button" (click)="toggleEditMode()" style="background-color: #005fb1; color: white">
      {{ editMode ? 'Guardar cambios' : 'Editar Horas' }}
    </button>
    <button class="add-button" style="background-color: #005fb1; color: white">
      Agregar Participantes
    </button>
    <button class="add-button" style="background-color: #005fb1; color: white">
      Importar Participantes
    </button>
  </div>

  <!-- Tabla de datos -->
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Código</th>
      <th>Horas Obtenidas</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let participante of participantes">
      <td>{{ participante.idUsuario }}</td>
      <td>{{ participante.nombre }}</td>
      <td>{{ participante.apellido }}</td>
      <td>{{ participante.codigo }}</td>
      <td>
        <ng-container *ngIf="editMode; else displayHoras">
          <input
            type="number"
            [(ngModel)]="participante.horas_obtenidas"
            class="form-control"
            (change)="convertirANumero(participante)"
          >
        </ng-container>
        <ng-template #displayHoras>
          {{ participante.horas_obtenidas }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editMode; else displayDetalles">
    <textarea
      [(ngModel)]="participante.detalles"
      class="form-control"
      rows="3"
      placeholder="Escribe los detalles aquí..."></textarea>
        </ng-container>
        <ng-template #displayDetalles>
          {{ truncarTexto(participante.detalles, 20) }}
        </ng-template>
      </td>
      <td class="actions">
        <button class="delete-btn" (click)="eliminarParticipante(participante.idInscripcion)">🗑️</button>
      </td>

    </tr>

    </tbody>
  </table>

  <!-- Paginación -->
  <div class="pagination">
    <span>Líneas por página:</span>
    <select>
      <option>10</option>
      <option>20</option>
      <option>50</option>
    </select>
    <span>1-10 de {{ participantes.length }} registros</span>
    <button>Anterior</button>
    <button>Siguiente</button>
  </div>
</div>
</div>
