/* Contenedor principal */
.container {
  max-width: 1500px;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  color: #333;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Acciones */
.actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
}

/* Paginación */
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
