<!-- layout.component.html -->
<div class="body">

  <!-- Barra lateral fija -->
  <div [class.sidebar]="sidebarVisible">
    <img src="../assets/images/logo.png" alt="Logo" class="toolbar-logo" (click)="irAUpeu()" style="cursor: pointer;"/>
    <div style="display: flex; justify-content: center; align-items: center;" style="margin-top: 50px">

      <p style="color: white; text-align: center;">
        <i class="fa-regular fa-user" style="font-size: 2em;"></i><br>
        {{ usuario.nombre }} {{ usuario.apellido }}
      </p>
    </div>

    <!-- Opciones de menú según el rol -->
    <ng-container *ngIf="usuario.rol">
      <!-- Opciones para el rol 1 (e.g., "ROLE_USER") -->
      <a *ngIf="usuario.rol === 'Estudiante'" style="margin-top: 50px"  routerLink="/main" routerLinkActive="active">Inicio</a>
      <a *ngIf="usuario.rol === 'Estudiante'" routerLink="/proximos_eventos" routerLinkActive="active">Próximos Eventos</a>
      <a *ngIf="usuario.rol === 'Estudiante'" routerLink="/eventos_participados" routerLinkActive="active">Eventos Participados</a>

      <!-- Opciones para el rol 2 (e.g., "ROLE_ADMIN") -->
      <a *ngIf="usuario.rol === 'Coordinador'" routerLink="/main" routerLinkActive="active">Home</a>
      <a *ngIf="usuario.rol === 'Coordinador'" routerLink="/gestion_eventos" routerLinkActive="active">Gestión de Eventos</a>
      <a *ngIf="usuario.rol === 'Coordinador'" routerLink="/importar_datos" routerLinkActive="active">Gestión de Usuarios</a>
    </ng-container>

    <div class="profile-section">
      <button (click)="logout()" class="logout-btn">
        <i class="fa-solid fa-user" style="color: white; margin-right: 5px;"></i>
        Cerrar sesión
      </button>
    </div>
  </div>

  <div class="content">
    <!-- Contenido inicial -->
    <div *ngIf="mostrarContenidoInicial" class="contenido-inicial">
      <h1>Bienvenido al Sistema de Gestión</h1>
      <p>Por favor, selecciona una opción del menú para comenzar.</p>
      <button
        class=" add-button"
        style="background-color: #005fb1; color: white"
        >
        <i class="fa-solid fa-check"></i> Terminar Evento
      </button>
    </div>

    <!-- Contenido de cada página -->
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>

</div>
