<div class="body">

  <div [class.sidebar]="sidebarVisible" class="sidebar" >
    <a style="margin-top: 50px"
      [ngClass]="{'active': currentPageTitle === 'Proximos_eventos'}"
      (click)="navigateTo('proximos_eventos')">Proximos Eventos</a>
    <a
      [ngClass]="{'active': currentPageTitle === 'Eventos_participados'}"
      (click)="navigateTo('eventos_participados')">Eventos Participados</a>
    <a
      [ngClass]="{'active': currentPageTitle === 'Gestion_Eventos'}"
      (click)="navigateTo('gestion_eventos')">Gestion de Eventos</a>
    <a
      [ngClass]="{'active': currentPageTitle === 'Importar_Datos'}"
      (click)="navigateTo('importar_datos')">Importar Datos</a>

    <!-- Botón de perfil y cerrar sesión -->
    <div class="profile-section">
      <button (click)="goToSecondComponent()"class="logout-btn">
        <i class="fa-solid fa-user" style="color: white; margin-right: 5px;"></i>
         Cerrar sesión</button>
    </div>
  </div>



  <div class="content">
    <h2>{{ currentPageTitle }}</h2>
    <p>{{ pageContent }}</p>
  </div>



</div>
