
<div class="container">
  <h2 class="text-center mb-4">Próximos eventos</h2>

  <div class="row">
    <div *ngFor="let evento of eventosFiltrados" class="col-md-4 mb-4 d-flex align-items-stretch">
      <div class="card shadow-sm" style="width: 100%; border-radius: 10px;">
        <div class="card-body">
          <div style="display: flex">
            <h5 class="card-title">{{ evento.nombre }}</h5>

            <div *ngIf="evento.usuarioInscrito;" style="width: 130px; position: absolute; margin-left: 340px" >
              <img src="assets/images/chek.png" alt="Inscrito" class="img-fluid w-50 mx-auto d-block" />
            </div>
          </div>
          <p class="card-text"><strong>Lugar:</strong> {{ evento.lugar }}</p>
          <p class="card-text">
            <strong>Fecha del Evento:</strong> El día
            {{ evento.fecha_inicio | date:'EEEE d \'de\' MMMM\' del\' y':'es' }}
            a las {{ evento.hora }}
          </p>
          <p class="card-text"><strong>Horas Válidas:</strong> {{ evento.horas_obtenidas }}</p>
          <p class="card-text"><strong>Dirección:</strong> {{ evento.direccion }}</p>

          <div class="d-flex justify-content-between mt-3">
            <!-- Usa la variable `statusUsuario` -->
            <button
              *ngIf="statusUsuario === 'Estudiante'"
              class="btn btn-primary w-100"
              (click)="inscribirse(evento.id)"
            >
              Inscribirse
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

