<!-- Toolbar -->

<div class="main">
  <div class="toolbar" role="banner">
    <img src="../assets/images/logo.png" alt="Logo" class="toolbar-logo">

    <!-- Menú u otros elementos alineados a la derecha -->
    <div class="toolbar-right">
      <a routerLink="/login" class="btn botoncito">Iniciar Sesión</a>
    </div>
  </div>

  <div class="container">
    <!-- Título -->
    <div class="titulo">
      <h2> ¿Deseas saber cuántas horas de vinculación <br> con el medio tienes? </h2>
    </div>

    <!-- Formulario de búsqueda -->
    <form (ngSubmit)="onSearch()">
      <div class="form-group search-container custom-floating-label" style="display: flex">
        <input type="text" id="query" [(ngModel)]="query" name="query" class="search-input" placeholder=" ">
        <label for="query" class="floating-label">Ingrese DNI o Código de Usuario</label>
        <button type="submit" class="btn btn-primary search-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
    <div *ngIf="resultado">
      <h3>Resultado de la búsqueda:</h3>
      <p>{{ resultado.apellido }}, {{ resultado.nombre }}</p>
      <p>Horas: {{ resultado.horas_obtenidas }}</p>
    </div>
    <div *ngIf="error">
      <p>{{ error }}</p>
    </div>
  </div>



  <div *ngIf="eventos.length > 0" class="container " style=" width: 600px;">
    <h2>Proximos eventos</h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let evento of eventosActivos; let i = index" class="carousel-item" [class.active]="i === 0">
          <div class="card" style="width: 18rem; margin-left: 150px">
            <div class="card-body">
              <h5>{{ evento.nombre }}</h5>
              <p>{{ evento.lugar }} </p>
              <p>Fecha: El dia {{ evento.fecha | date:'EEEE d \'de\' MMMM\' del\' y':'es' }} a las {{ evento.hora }}</p>
              <p>Horas Validas: {{ evento.horas_obtenidas }}</p>
              <p>Dirrección: {{ evento.direccion }}</p>
              <a href="#" class="btn card-link" style="background-color: #005fb1; color: white;">Inscribirse</a>
            </div>
          </div>
        </div>



      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

    <div *ngIf="eventosActivos.length === 0" class="alert " role="alert" ><br>
      <h4>No hay eventos disponibles.</h4> <br>
      <img style="width: 200px;" src="https://img.freepik.com/vector-premium/hombre-esperando-stand-dibujos-animados_435121-89.jpg">
    </div>
  </div>


</div>





<!-- Crear carrera
<div class="container">
  <h2>Formulario para Carrera</h2>

  <form (ngSubmit)="onSubmit()" #careerForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre de la Carrera</label><br>
      <input
        type="text"
        id="name"
        class="form-control"
        required
        [(ngModel)]="nombre"
        name="nombre"
        #name="ngModel"
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="careerForm.invalid">Enviar</button>
  </form>
</div>-->





<router-outlet></router-outlet>
