<!-- Crear carrera
<div class="container">
  <h2>Formulario para Carrera</h2>

  <form (ngSubmit)="onSubmit()" #careerForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre de la Carrera</label><br>
      <input
        type="text"
        id="name"
        class="form-control"
        required
        [(ngModel)]="nombre"
        name="nombre"
        #name="ngModel"
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="careerForm.invalid">Enviar</button>
  </form>
</div>-->


<router-outlet></router-outlet>




